.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    flex-direction: column;
}
.textContainer {
    text-transform: uppercase;
    color: white;
    font-size: 2em;
}
.textContainer_2 {
    text-transform: uppercase;
    color: white;
}
