body {
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-size: 1em;
    font-family: 'Helvetica', sans-serif;

}

.textCenter {
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    height: max-content;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: rgba(26,24,29, 0.7);
    border-radius:3px;
    padding:70px 100px;
}


.inputContainer {
    position: relative;
    margin-bottom: 25px;
}


/*.inputContainer .label input {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    !*pointer-events: none;*!*/
/*    transition: all 0.5s ease-in-out;*/
/*}*/

.label input {
    width: 100%;
    border: 0;
    border-bottom: 3px solid white;
    background: transparent;
    margin-bottom: 25px;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: white;
    border-radius: 3px;
}

.inputContainer input:focus {
    border: none;
    outline: none;
    border-bottom: 3px solid #ffba12;
}

::placeholder {
    color: white;
    font-size: 16px;
    text-align: start;
}

/*.btn {*/
/*    color: #fff;*/
/*    background-color: #ffba12;*/
/*    font-size: 16px;*/
/*    outline: none;*/
/*    border: 0;*/
/*    padding: 10px 20px;*/
/*    text-transform: uppercase;*/
/*    !*margin: 0 10px 0 10px;*!*/
/*    !*margin-top:50px;*!*/
/*    border-radius: 2px;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*}*/

/*.btn:hover {*/
/*    transition-duration: 0.1s;*/
/*    background-color: rgba(255,186,18, 0.8) ;*/
/*}*/

/*.btn:after {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    border-radius: 2px;*/
/*    left: 0;*/
/*    top:0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: 0;*/
/*    transition: all 0.5s;*/
/*    box-shadow: 0 0 10px 40px white;*/
/*}*/

/*.btn:active:after {*/
/*    box-shadow: 0 0 0 0 white;*/
/*    position: absolute;*/
/*    border-radius: 2px;*/
/*    left: 0;*/
/*    top:0;*/
/*    opacity: 1;*/
/*    transition: 0s;*/
/*}*/

/*.btn:active {*/
/*    top: 1px;*/
/*}*/
